<footer>
    <div class = "footer">
        <div class = "footer__autor">
            <h3>By Gonzalo Di Nasso</h3>
        </div>
        
<!--        <div class="footer__perfil">
            <p th:if="${perfil} != null and ${perfil.penalidad == true}" th:text="El usuario se encuentra penalizado para solicitar préstamos"></p>
        </div>-->
    </div>
</footer>

<script>
    function nav-action(){
        var ancla = document.getElementByClassName('header__nav__enlace');
        for(var i = 0; i < ancla.length; i++) {
            ancla[i].classList.toggle('link-disappear');
        }
    }
</script>