<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h1 class="main__card__h3">ADMINISTRADOR</h1>
                <div class="main__card__object main__card__prestamo">
                    <h3>Lista de Solicitantes</h3>
                    <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                    <p th:if="${success != null}" th:text="${success}" class="ok"></p>
                    <div class="object__button__container">
                        <div th:each="solicitante:${solicitantes}" class="form__container">
                            <div class="object__btn">
                                <form th:action="@{/administradores/proceso-iniciar-orden(id=__${session.usuariosession.id}__, solicitId = __${solicitante.id}__)}" method="post" enctype="multipart/form-data">
                                    <div class="form__container object__btn object__btn-2">                    
                                        <button type="submit" th:if="${solicitante != null}" th:text="${solicitante.nombre}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__card__object main__card__prestamo">
                    <h3>Lista de Usuarios con Prestamos Activos</h3>
                    <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                    <p th:if="${success != null}" th:text="${success}" class="ok"></p>
                    <div class="object__button__container">
                        <div th:each="activa:${activas}" class="form__container">
                            <div class="object__btn">
                                <form th:action="@{/administradores/baja-orden(id=__${session.usuariosession.id}__, ordenId = __${activa.id}__)}" method="post" enctype="multipart/form-data">
                                    <div class="form__container object__btn object__btn-2">                    
                                        <button type="submit" th:if="${activa != null}" th:text="${activa.usuario.nombre}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__card__object main__card__prestamo">
                    <h3>Lista de Prestamos Vencidos</h3>
                    <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                    <p th:if="${success != null}" th:text="${success}" class="ok"></p>
                    <div class="object__button__container">
                        <div th:each="vencida:${vencidas}" class="form__container">
                            <div class="object__btn">
                                <form th:action="@{/administradores/baja-orden(id=__${session.usuariosession.id}__, ordenId = __${vencida.id}__)}" method="post" enctype="multipart/form-data">
                                    <div class="form__container object__btn object__btn-2">                    
                                        <button type="submit" th:if="${vencida != null}" th:text="${vencida.usuario.nombre}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="main__card__object main__card__prestamo">
                    <h3>Solicitudes de Baja de Usuarios</h3>
                    <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                    <p th:if="${success != null}" th:text="${success}" class="ok"></p>
                    <div class="object__button__container">
                        <div th:each="bajado:${bajados}" class="form__container">
                            <div class="object__btn">
                                <form th:action="@{/administradores/finalizar-proceso-baja-cuenta(id=__${session.usuariosession.id}__, solicitId = __${bajado.id}__)}" method="post" enctype="multipart/form-data">
                                    <div class="form__container object__btn object__btn-2">                    
                                        <button type="submit" th:if="${bajado != null}" th:text="${bajado.nombre}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    
</body>
</html>
