<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Editoriales</h3>
                <div class="main__card__object">
                    <div class="main__object--buscador">
                        <form th:action="@{/editoriales/proceso-buscar(id=__${session.adminsession.id}__)}" method="post" enctype="application/x-www-form-urlencoded">
                            <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                            <div class="form__container__buscar">
                                <input type="text" placeholder="Ingrese nombre de la editorial" name="qeditorial" required>
                                <button type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div class="object__button__container">
                        <div class="object__btn">
                            <a th:href="@{/editoriales/ingresar(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Registrar Editorial</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/editoriales/listar-activas(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Editoriales Activas</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/editoriales/listar-todas(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Lista Editoriales</a>
                        </div>
                    </div>
<!--                    <div class ="main__object__container">
                        <div th:each="texto : ${textos}"   class="main__object__object">
                            <div class="pic-square"> 
                            <img th:if="${perfil.foto != null}" th:src="${'/foto/perfil/' + perfil.id}" class="pic-square" alt="user">
                                <img th:if="${perfil.foto == null}" src="/img/avatar.jpg" class="pic-square" alt="user">
                            </div>
                            <div class = "object__data">
                                <p></p>
                                <p></p>
                                <div class="btn">
                                    <a th:href="@{/libros/modificar-libro(id=__${session.adminsession.id}__ , libroId=__${texto.id}__)}" th:if="${session.adminsession != null}">Actualizar Libro</a>
                                    <a href="#">Administrar Libro</a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>    
        </div>
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
    
</body>
</html>
