<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <p>Editoriales</p>
                <div class ="main__object--execute">
                    <div class="btn">
                        <a href="#">Registrar Editorial</a>
                    </div>
                    <div class="btn">
                        <a href="#">Consultar Editorial</a>
                    </div>
                </div>
                <div class="pic-square"> 
<!--                    <img th:if="${perfil.foto != null}" th:src="${'/foto/perfil/' + perfil.id}" class="pic-square" alt="user">
                    <img th:if="${perfil.foto == null}" src="/img/avatar.jpg" class="pic-square" alt="user">-->
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    
</body>
</html>
