<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/header :: header"> </header>

    <main>
        <div class= "main">
            <div class ="main__card">
                <h2>Ingresar Libro</h2>
                <form th:action="@{/libros/proceso-ingresar(id=__${session.adminsession.id}__)}" method="post" enctype="multipart/form-data">
                    <div class="form__container">
                        <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                        <input type="text" placeholder="Título del Libro" name="titulo" th:value="${titulo}" required>
                        <input type="number" placeholder="ISBN del Libro" name="isbn" th:value="${isbn}" required>
                        <input type="number" placeholder="Cantidad de Ejemplares" name="ejemplaresTotales" th:value="${ejemplaresTotales}" required>
                        <p>Seleccione un Autor</p>
                        <select name="wriId">
                            <option th:each="wri : ${wris}" th:value="${wri.id}" th:text="${wri.nombre}" th:selected="${wriId}"></option>
                        </select>
                        <p>Seleccione una Editorial</p>
                        <select name="pubId">
                            <option th:each="pub : ${pubs}" th:value="${pub.id}" th:text="${pub.nombre}" th:selected="${pubId}"></option>
                        </select>
                        <input name="archivo" th:value="${archivo}" type="file" accept="image/png, image/jpeg" class ="input-f"  required>
                        <button type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>