<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Prestamos</h3>
                <div class="main__card__object">
                    <div class="object__button__container">
                        <div class="object__btn">
                            <a th:href="@{/prestamos/ingresar(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Solicitar prestamo</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/prestamos/listar-activas(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Solicitudes pendientes Activos</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/prestamos/listar-todas(id=__${session.adminsession.id}__)}" th:if="${session.adminsession != null}">Prestamos Vigentes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    
</body>
</html>
